on:
  push:
    branches:
      - 'main'

env:
  DATABRICKS_HOST: ${{ secrets.DEV_DATABRICKS_HOST }}
  DATABRICKS_TOKEN: ${{ secrets.DEV_DATBRICKS_TOKEN }}
  FABRIC_NAME: "HelloDev"
  PROJECT_PATH: hello_project

concurrency: 
  group: dev-deploy
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      # Install all python dependencies 
      # prophecy-libs not included here because prophecy-build-tool 
      # takes care of it by reading each pipeline's setup.py
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install build pytest wheel pytest-html pyspark prophecy-build-tool
      # Make sure you set the path to match the Project directory
      - name: Run PBT build
        run: pbt build --path ${{ env.PROJECT_PATH }}
  deploy:
    runs-on: ubuntu-latest
    depends-on: build
    steps:
      - name: Run PBT Deploy
        run: pbt deploy --path ${{ env.PROJECT_PATH }}