on:
  pull_request:
    types:
      - closed
    branches:
      - 'prod'

env:
  DATABRICKS_HOST: ${{ secrets.PROD_DATABRICKS_HOST }}
  DATABRICKS_TOKEN: ${{ secrets.PROD_DATBRICKS_TOKEN }}
  FABRIC_ID: "4004"
  PROJECT_PATH: hello_project

concurrency: 
  group: prod-deploy
  cancel-in-progress: true

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      # Install all python dependencies 
      # prophecy-libs not included here because prophecy-build-tool 
      # takes care of it by reading each pipeline's setup.py
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install build pytest pytest-cov wheel pytest-html pyspark prophecy-build-tool
      - name: Run PBT Deploy
        run: pbt deploy --fabric-ids ${{ env.FABRIC_ID }}  --path ${{ env.PROJECT_PATH }}